
@{
    ViewBag.Title = "EmployeeList";
}

<h2>Employee Add/Update</h2>

<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddOrEdit", "EmployeeList")')">Add New</a>

<table id="employeeTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
          
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>
</table>


<link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet"/>




@section scripts{

    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>


    <script>
        var Popup, dataTable;
        dataTable = $(document).ready(function () {
            $("#employeeTable").DataTable({
                "ajax": {
                    "url": "/EmployeeList/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                   
                    { "data": "First_Name" },
                    { "data": "Last_Name" },
                    { "data": "Phone_Number" },
                    { "data": "Address" },
                    { "data": "Age" }, 
                    {
                        "data": "Id", "render": function (data) {
                            return "<a class = 'btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit", "EmployeeList")/"+data+"')>Edit</a><a class = 'btn btn-danger btn-sm' onclick=Delete("+data+") style='margin-left:5px'>Delete</a>"
                    },
                        "orderable": false,
                        "seacrchable": false,
                        "width": "150px"
                    }
                ]
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({

                        autoOpen : true,
                        resizable: false,
                        title: 'Add Employee Details',
                        height: 600,
                        width: 800,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
            
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {

                        Popup.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        });
                    }
                }
            });
            }
            return false;
        }

        function Delete(id)
        {
            if (confirm("Are You sure you Delete this Employee ?"))
            {
                $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("Delete", "EmployeeList")/' + id,
                    success: function (data)
                    {
                        if (data.success)
                        {

                            dataTable.ajax.reload();
                            $.notify('Delete Successfully', {
                                globalPosition: 'top center',
                                className: "success"
                            });
                        }
                    }

                });
            }
        }
    </script>
}

